NODE_ENV=production
PORT=10000
DATABASE_URL=PASTE_RENDER_POSTGRES_INTERNAL_DATABASE_URL
JWT_SECRET=GENERATE_A_LONG_RANDOM_SECRET
JWT_EXPIRES_IN=7d
OWNER_EMAIL=YOUR_ADMIN_GMAIL
OWNER_PASSWORD=YOUR_ADMIN_PASSWORD
OWNER_NAME=ZhuoMarket Owner
CORS_ORIGINS=*
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=zhuomarket
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-mini
LOW_STOCK_THRESHOLD=2
ORDER_CURRENCY=HTG
MAX_UPLOAD_MB=8
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_BASE_URL=https://api-m.paypal.com
CARD_CHECKOUT_URL=
